<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="NLog.Targets.ElasticSearch" />
  </extensions>
  <targets>
    <target name="logInfoToFile" xsi:type="File" fileName="D:/Projects/NetCore/netCoreElasticSearch/netCoreElasticSearch/Logs/${shortdate}/InfoLog.txt" layout="${date:format=HH\:mm\:ss\:fff}|${message}" />
    <target name="logErrorToFile" xsi:type="File" fileName="D:/Projects/NetCore/netCoreElasticSearch/netCoreElasticSearch/Logs/${shortdate}/ErrorLog.txt" layout="${date:format=HH\:mm\:ss\:fff}|${message}|${exception:format=tostring}" />
    <target name="logDebugToFile" xsi:type="File" fileName="D:/Projects/NetCore/netCoreElasticSearch/netCoreElasticSearch/Logs/${shortdate}/DebugLog.txt" layout="${date:format=HH\:mm\:ss\:fff}|${message}" />
    <target name="logWarningToFile" xsi:type="File" fileName="D:/Projects/NetCore/netCoreElasticSearch/netCoreElasticSearch/Logs/${shortdate}/WarningLog.txt" layout="${date:format=HH\:mm\:ss\:fff}|${message}" />
    <target name="elastic" xsi:type="BufferingWrapper" flushTimeout="5000">
      <target xsi:type="ElasticSearch" name="logToElasticSearch" uri="http://localhost:9200" index="applogs-${date:format=yyyy.MM.dd}">
        <field name="appName" layout="${literal:text=crmManager}" />
        <field name="machinename" layout="${machinename}" />
        <field name="message" layout="${message}" />
        <field name="exception" layout="${exception:format=tostring}" />
      </target>
    </target>
  </targets>
  <rules>
    <logger name="*" levels="Info" writeTo="logInfoToFile" />
    <logger name="*" levels="Error" writeTo="logErrorToFile" />
    <logger name="*" levels="Debug" writeTo="logDebugToFile" />
    <logger name="*" levels="Warn" writeTo="logWarningToFile" />
    <logger name="*" minlevel="Info" writeTo="logToElasticSearch" />
  </rules>
</nlog>

